# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# Environment files
.env
.env.*
!.env.example

# Docker
.docker/
docker-compose.override.yml

# Temporary files
*.swp
*.swo
.tmp/
*.tmp
*.pid
*.seed
*.pid.lock

# Build
/build
/release

# Dependency directories
/.pnp
.pnp.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# TypeScript cache
*.tsbuildinfo
